In [5]:
import pandas as pd

# 1. read the file into a DataFrame
df = pd.read_csv("../../../01_data/continents.csv", sep = ";")
df.head()

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [4]:
ls ../../../01_data/

continents.csv  large_countries_2015.csv  population.csv
datapoints.csv  penguins_simple.csv

In [9]:

# 2. display the number of rows and columns
df.shape

Ellipsis

In [10]:

# 3. display the first 5 countries in the alphabet
df['country'].sort_values()[:5]

54    Afghanistan
98        Albania
0         Algeria
99        Andorra
1          Angola
Name: country, dtype: object

In [15]:

# 4. which continent has the most countries?
df.groupby('continent').count().sort_values('country', ascending = False)

                       country
continent
Africa                      54
Europe                      47
Asia                        44
North America               23
Australia and Oceania       14
South America               12

In [21]:

# 5. find out on which continent Cyprus is
df.loc[df['country']=='Cyprus']['continent']

108    Europe
Name: continent, dtype: object

In [24]:

# 6. define a DataFrame with all African countries
africa = df[df['continent']=='Africa']
africa

   continent                        country
0     Africa                        Algeria
1     Africa                         Angola
2     Africa                          Benin
3     Africa                       Botswana
4     Africa                        Burkina
5     Africa                        Burundi
6     Africa                       Cameroon
7     Africa                     Cape Verde
8     Africa       Central African Republic
9     Africa                           Chad
10    Africa                        Comoros
11    Africa                          Congo
12    Africa  Congo, Democratic Republic of
13    Africa                       Djibouti
14    Africa                          Egypt
15    Africa              Equatorial Guinea
16    Africa                        Eritrea
17    Africa                       Ethiopia
18    Africa                          Gabon
19    Africa                         Gambia
20    Africa                          Ghana
21    Africa                         Guinea
22    Africa                  Guinea-Bissau
23    Africa                    Ivory Coast
24    Africa                          Kenya
25    Africa                        Lesotho
26    Africa                        Liberia
27    Africa                          Libya
28    Africa                     Madagascar
29    Africa                         Malawi
30    Africa                           Mali
31    Africa                     Mauritania
32    Africa                      Mauritius
33    Africa                        Morocco
34    Africa                     Mozambique
35    Africa                        Namibia
36    Africa                          Niger
37    Africa                        Nigeria
38    Africa                         Rwanda
39    Africa          Sao Tome and Principe
40    Africa                        Senegal
41    Africa                     Seychelles
42    Africa                   Sierra Leone
43    Africa                        Somalia
44    Africa                   South Africa
45    Africa                    South Sudan
46    Africa                          Sudan
47    Africa                      Swaziland
48    Africa                       Tanzania
49    Africa                           Togo
50    Africa                        Tunisia
51    Africa                         Uganda
52    Africa                         Zambia
53    Africa                       Zimbabwe

In [25]:

# 7. define a DataFrame with countries 80 through 100
subset = df[80:101]

# 8. select every second country
seconds = df[::2]